<highcharts-chart #customChart [Highcharts]="Highcharts"
                  [constructorType]="chartConstructor"
                  [options]="chartOptions"
                  [callbackFunction]="chartCallback"
                  [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag"
                  [runOutsideAngular]="runOutsideAngular"
                  style="width: 100vw; max-width: 900px; min-width: 630px; height: 400px; display: block; margin: 0 auto 200px auto; padding-bottom: 20px;">
</highcharts-chart>
<!--<button (click)="scrollChart()">
  Прокрутить
</button>-->
