<!--<div class="chart">-->
  <!--<canvas baseChart
          class="chart"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>-->
<!--</div>-->
<highcharts-chart [Highcharts]="Highcharts"
                  [constructorType]="chartConstructor"
                  [options]="chartOptions"
                  [callbackFunction]="chartCallback"
                  [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag"
                  [runOutsideAngular]="runOutsideAngular"
                  style="width: 100%; height: 400px; display: block; margin-bottom: 200px; padding-bottom: 20px;">
</highcharts-chart>
